
.fresh{
    background-color: #F7F5E6;
}

.vermillion{
    background-color: #333A56;
}

.sunshine{
    background-color: #52658F;
}

.clean{
    background-color: #E8E8E8;
}

.ui.header{
    font-family: 'Amatic SC', cursive, sans-serif !important;
    color: #E8E8E8;
}
.ui.grid{
    margin-top: 10%;
}

.social-bar{
  position: absolute;
  top: 10px;
  right: -5px;
  width: 60px;
  border-radius: 5px;
  /*background-color: rgba(255,255,255,0.1); */
}

.social-bar img{
  position: relative;
  width: 50px;
  height: 50px;
  margin: 10px 0;
  border-radius: 5px;

}

.social-bar img:hover{
  opacity: 0.7;
}

.ui.grid>[class*="eight wide"].column {
    margin: 0;
    padding: 0;

}

.main-title{
    background: linear-gradient(to bottom right, rgba(82, 101, 143, 1), rgba(82, 101, 143,0));
    letter-spacing: 8px;
    padding: 10px;
    text-align: center;
    min-height: 250px;
}

.main-title h1.ui.header{
    font-size: 4.5em;
}

.main-title h2.ui.header{
    font-size: 2.5em;
    color: gray;
}

.main-summary{
    min-height: 250px;
    padding: 10px;
    background: linear-gradient(to top left, rgba(82, 101, 143, 1), rgba(82, 101, 143,0));
}

.main-summary h3.ui.header{
    font-size: 2.5em;
}

.main-summary p{

    font-family: 'Amatic SC', cursive, sans-serif !important;
    color: #E8E8E8 !important;
    font-size: 2em;
    text-align: justify;
}

.ui.header.malwaretoolz-title{
  font-family: 'Amatic SC', cursive, sans-serif !important;
  color: #E8E8E8 !important;
  font-size: 4.5em;
  letter-spacing: 8px;
  padding: 10px;
  text-align: center;
}

.malwaretoolz-summary p{

    font-family: 'Amatic SC', cursive, sans-serif !important;
    color: #E8E8E8 !important;
    font-size: 3em;
}

.ui.grid.portfolio{
    margin-top: 5%;
}

.ui.grid.skills{
    margin: 0% auto;
}

h1.ui.header.portfolio-title{
    color: #333A56;
    margin-top: 5%;
    font-size: 3.5em;
    text-align: center;
}

.malwaretoolz-screen{
  margin-top: 25%;
  box-shadow: 10px 10px 10px;
}

.blog-summary{
    margin-bottom: 5%;
}

.blog-summary p{
    font-family: 'Amatic SC', cursive, sans-serif !important;
     font-size: 3em;
     color: #333A56;
}

h1.ui.header.skills-title{
    color: #E8E8E8;
    margin-top: 5%;
    font-size: 3.5em;
    text-align: center;
}

h1.ui.header.blog-title{
    color: #333A56;
    font-size: 4.5em;
    text-align: center;
}

.hidden{
    display: none !important;
}

#bootstrapSkill, #semanticSkill, #jquerySkill,#angularSkill, #sqlSkill, #csharpSkill, #javascriptSkill, #css3Skill, #html5Skill  {
  margin: 10px auto;
  width: 200px;
  height: 200px;
}

@media(max-width: 1600px){
    #bootstrapSkill, #semanticSkill, #jquerySkill,#angularSkill, #sqlSkill, #csharpSkill, #javascriptSkill, #css3Skill, #html5Skill  {
    margin: 10px auto;
    width: 150px;
    height: 150px;
}
}

@media(max-height: 769px){
    .ui.grid{
        margin-top: 5px;
    }
    h1.ui.header.portfolio-title {
        margin-top: 5px;
    }

    h1.ui.header.skills-title {
        margin-top: 5px;
    }

     #bootstrapSkill, #semanticSkill, #jquerySkill,#angularSkill, #sqlSkill, #csharpSkill, #javascriptSkill, #css3Skill, #html5Skill  {
    margin: 10px auto;
    width: 120px;
    height: 120px;
}

.ui.grid.blog {
    margin-top: 5px !important;
}
}


.ui.grid.blog{
    margin-top: 5%;
}

.blogbanner{
    float: right;
    width: 400px;
    height: 300px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 1);
    box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 1);
    background-image: url(../img/blog2.png);
}

.blog-button{
    margin: 0 auto;
}

.wraption-wrap:hover{
    background: #333A56;
}

#downloadCV .main-cv-header{
  text-align: center;
  font-family: 'Amatic SC', cursive, sans-serif !important;
  color: #E8E8E8;
  font-size: 4.5em;
}
#downloadCV .download-cv-button > img{
  transition:all 0.8s ease;
}

#malwaretoolz .malwaretoolz-screen{
  transition:all 0.8s ease;
  width: 100%;
}

#malwaretoolz .malwaretoolz-screen:hover{
  -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

#downloadCV .download-cv-button:hover > img{
  opacity: 0.6;
  -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

 .sl-slide-inner .back-to-main-button h2{
   position: absolute;
   bottom: 50px;
  text-align: center;
  font-family: 'Amatic SC', cursive, sans-serif !important;
  font-size: 2.5em;
  width: 100%;
}
