

/* demo */

.wraption-wrap
{
	float:right;
	margin:0 0 0 3em;
	box-sizing:border-box;
}

img
{
	float:right;
}
/* wraptions */

.wraption-wrap
{
	transition: all 1s;
	width: 100%;
	display: block;
	background: #52658F;
	padding: 10px;

	border:1px solid #eee;
	border-color:#eee #ddd #ccc #ddd;

	-webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.1);
	-moz-box-shadow:0 2px 2px 0 rgba(0,0,0,0.1);
	box-shadow:0 2px 2px 0 rgba(0,0,0,0.1);

	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}

.wraption-wrap img.wraption
{

}

.wraption-wrap .wraption-caption
{
	position:absolute;
	top:56px;
	width: 500px;
	height: 100px;
	left:-10px;

	padding:35px;

	background:  rgba(0,0,0,0.4);
	border:1px solid #333;
	border-left:0;

	font-family: 'Amatic SC', cursive, sans-serif !important;
    color: #E8E8E8 !important;
    font-size: 50px;
    text-align: center;
	vertical-align: middle;

	-webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.3);
	
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}

.wraption-wrap .wraption-caption:before
{
	content:'';

	position: absolute;
    bottom: 100%;
    left:0;

	width:0;
	height:0;

	border: 5px solid #000;

    border-left-color: transparent;
    border-top-color: transparent; 
}

